<div class="header">
    <mat-form-field>
        <mat-label>Program Name</mat-label>
        <input matInput standalone [(ngModel)]="name">
    </mat-form-field>
    <button mat-fab class="regular" (click)="savePlan()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<div class="container">
    <div *ngFor="let day of plan.days">
        <div cdkDropList [cdkDropListData]="day.plannedExercises"
            [cdkDropListConnectedTo]="allDropLists?.toArray() || []" (cdkDropListDropped)="drop($event)">
            <app-exercise *ngFor="let plannedExercise of day.plannedExercises" [plannedExercise]="plannedExercise"
                [readOnly]="plan.readOnly" (deletePlannedExercise)="deletePlannedExercise(day, $event)"
                cdkDrag></app-exercise>
        </div>
        <div class="lowerButtons">
            <button mat-fab class="fauxExercise" (click)="addPlannedExercise(day)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <button mat-fab (click)="addDay()" class="fauxExercise">
        <mat-icon>add</mat-icon>
    </button>

</div>