<div class="header">
    <mat-form-field>
        <mat-label>Program Name</mat-label>
        <input matInput standalone [(ngModel)]="name">
    </mat-form-field>
    <button mat-icon-button class="regular" (click)="savePlan()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="regular" (click)="deletePlan()">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="container">
    <div *ngFor="let day of plan.days; index as i">
        <h2 class="mat-display-small">{{ dayNames[dayIndexesFromDayCount[plan.days.length][i]] }}</h2>
        <div cdkDropList [cdkDropListData]="day.plannedExercises"
            [cdkDropListConnectedTo]="allDropLists?.toArray() || []" (cdkDropListDropped)="drop($event)">
            <app-exercise *ngFor="let plannedExercise of day.plannedExercises" [plannedExercise]="plannedExercise"
                [readOnly]="plan.readOnly" (deletePlannedExercise)="deletePlannedExercise(day, $event)"
                cdkDrag></app-exercise>
        </div>
        <div class="lowerButtons">
            <button mat-fab class="fauxExercise" (click)="addPlannedExercise(day)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <h2 class="mat-display-small">&nbsp;</h2>
        <button mat-fab (click)="addDay()" class="fauxExercise">
            <mat-icon>add</mat-icon>
        </button>

    </div>

</div>