<mat-card>
    <mat-card-header>
        <mat-card-title>{{exercise.name}}</mat-card-title>
        <mat-card-subtitle>{{exercise.category}} - {{exercise.equipment}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <p>{{exercise.instructions}}</p> -->
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            <app-muscle-group-chip *ngFor="let muscleGroup of exercise.primaryMuscles"
                [muscleGroup]="muscleGroup"></app-muscle-group-chip>
            <app-muscle-group-chip *ngFor="let muscleGroup of exercise.secondaryMuscles"
                [muscleGroup]="muscleGroup"></app-muscle-group-chip>
        </mat-chip-set>
    </mat-card-footer>
</mat-card>