<p>exercise works!</p>
<div *ngIf="exercise" [style.backgroundColor]="muscleGroupColors[exercise.primaryMuscles[0]]" class="container">
    <h2>{{exercise.name}}</h2>
    <div class="exercise">
        <div>
            <h3>Primary Muscles</h3>
            <ul>
                <li *ngFor="let muscleGroup of exercise.primaryMuscles">{{muscleGroup}}</li>
            </ul>
            <h3>Secondary Muscles</h3>
            <ul>
                <li *ngFor="let muscleGroup of exercise.secondaryMuscles">{{muscleGroup}}</li>
            </ul>
        </div>
        <img src="exercises/{{exercise.name.replaceAll(' ', '_')}}/images/1.jpg" height="150">
    </div>
</div>
