<h2 mat-dialog-title>Edit Planned Exercise</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Exercise</mat-label>
        <input matInput type="text" [matAutocomplete]="auto" #autoCompleteInput class="translucent"
            [ngModel]="workingPlannedExercise.name" (focus)="autoCompleteInput.select()" />
        <mat-autocomplete #auto="matAutocomplete"
            (optionSelected)="workingPlannedExercise.name = $event.option.value; dirty = true">
            <mat-option *ngFor="let exercise of filteredExercises(autoCompleteInput)" [value]="exercise.name">
                <span>{{exercise.name}}</span> |
                <small>Category: {{exercise.category}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Set Count</mat-label>
        <mat-select [(ngModel)]="workingPlannedExercise.setCount" (ngModelChange)="dirty = true">
            <mat-option value="1">1 Set</mat-option>
            <mat-option value="2">2 Sets</mat-option>
            <mat-option value="3">3 Sets</mat-option>
            <mat-option value="4">4 Sets</mat-option>
            <mat-option value="5">5 Sets</mat-option>
            <mat-option value="-1">Ramp up to 5 Sets</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Progression</mat-label>
        <mat-select [(ngModel)]="workingPlannedExercise.progression" (ngModelChange)="dirty = true">
            <mat-option value="none">Do Not Progress</mat-option>
            <mat-option value="reps">Progress Reps</mat-option>
            <mat-option value="weight5lbs">Progress Weight (5 lbs)</mat-option>
            <mat-option value="weight2.5lbs">Progress Weight (2.5 lbs)</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="!dirty" (click)="save()">Save</button>
    <button mat-button mat-dialog-close (click)="cancel()">Close</button>
</mat-dialog-actions>